@import '../../stylesheets/variables';
.resource-select-container {
  display: flex;
}

div.resource-select-container select#categoryOptions.usa-select {
  margin: 0rem 2rem 0rem 0rem;
  align-self: center;
  width: 318px;
  &:disabled {
    background-color: $medium-darkgrey;
  }
}

div.resource-select-container select#resourceOptions.usa-select {
  margin: 0rem 0rem 0rem 0rem;
  width: 318px;
  align-self: center;
  &:disabled {
    background-color: $medium-darkgrey;
  }
}
.find-resource-container {
  background: $white;
  display: flex;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  justify-content: space-between;
  h2.h2-style {
    font-weight: 900;
  }
  p.p-style {
    font-weight: 700;
  }
  .content-row {
    margin-top: 4rem;
    margin-bottom: 5rem;
    .resource-label-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      label {
        font-size: 1.063rem;
        font-weight: $medium-weight;
        color: $nrcs-dark;
      }
      label:nth-of-type(2) {
        padding-left: 1rem;
      }
    }
    .resource-select-grid {
      display: flex;
    }
  }
  .resource-image {
    img:first-of-type {
      width: 100%;
    }
    width: 34%;
  }
  .find-by-resource-select-container {
    width: 58%;

    .usa-button:first-of-type {
      margin-top: 32px;
      margin-bottom: 60px;
      color: $usda-blue;
      background: $white;
      border: 0.2rem solid $usda-blue;
      border-radius: 0.25rem;
    }
  }
}

/** Media Queries **/
@media only screen and (max-width: $large-screen) {
  .find-resource-container {
    .usa-button {
      width: 60%;
      margin-left: 32px;
    }
    .resource-image {
      align-items: center;
      img {
        margin-bottom: 2rem;
      }
    }
  }
}
