@import '../../stylesheets/variables';

.ie-parent {
  padding: 5rem $large-space-size;

  h2,
  p {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: $semi-heavy-weight;
    font-size: $h2-font-size;
    line-height: 37.5px;
  }

  p {
    padding-top: 0.625rem;
    font-weight: $medium-light-weight;
    font-size: $h4-font-size;
    line-height: 22.4px;
  }
}

.obligations,
.arces-implemented {
  background: $light-grey-205;
  break-inside: avoid;
  .obligation-graph,
  .acres-graph {
    min-height: 24rem;
    height: auto;
    background: $white;
  }
}

.obligations,
.arces-implemented {
  margin-top: 1.875rem;
  border: 1px solid $philippine-silver;
  border-radius: 6px;

  h3 {
    padding: 1.875rem 1.875rem 1.25rem;
    margin: 0;
    line-height: 26px;
    font-size: 22px;
    font-weight: $medium-weight;
  }

  hr {
    margin: 0;
  }

  .graph-container {
    background: $light-grey-205;
    min-height: 27.75rem;
    height: auto;
    .link {
      text-align: right;
      margin: 1.875rem 2.0625rem 1.875rem 0;
      font-size: 1.375rem;
      line-height: 140%;
      color: $dark-blue;
    }
  }

  .obligation-graph,
  .acres-graph {
    margin: 1.875rem;
    border: 1px solid $philippine-silver;
    border-radius: 6px;
  }
}

.arces-implemented {
  margin-top: 2.5rem;
}

.hidden-content {
  display: none;
}

.payment-schedule {
  margin-top: 1.875rem;
  border: 1px solid $philippine-silver;
  border-radius: 6px;
  background-color: $white;
  p {
    padding: 0rem 1.875rem;
    margin: 0;
    line-height: 22px;
    font-size: $h4-font-size;
    font-weight: $medium-weight;
    color: $nrcs-dark;
    font-family: Roboto;
  }
  a {
    text-decoration: none;
    font-size: $h4-font-size;
    line-height: 22.4px;
    color: $dark-blue;
  }
  .link {
    width: fit-content;
    margin: 0.6875rem 1.875rem 1.875rem auto;

    a:first-of-type {
      img {
        margin: 0rem 0rem 0.2rem 0.5rem;
      }
    }
  }
}
#payment-title {
  padding: 1.875rem 1.875rem 0.625rem;
  margin: 0;
  line-height: 26px;
  font-size: 22px;
  font-weight: $semi-heavy-weight;
}
