@import '../../stylesheets/variables';

.usa-fieldset {
  padding: 1em 0em 2em 1em;
  background-color: $light-grey-2;
  margin: 0 0 2em -1em;
  .usa-legend {
    font-size: 17px;
  }
  .land-use-grid {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    gap: 2em;
  }
  .usa-checkbox {
    display: flex;
    margin: 0rem 0rem 0rem -2.1rem;
    i {
      margin: 0.5rem 0rem 0rem 0.5rem;
      align-self: center;
    }
  }
}
