@import '../../stylesheets/variables';

.usa-fieldset {
  padding: 1em 0em;
  background-color: $light-grey-2;
  margin: 0 0 2em 0;
  .land-use-grid {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    gap: 2em;
  }
}
