@import '../../stylesheets/variables';

.projects-list-group {
  margin: 1rem 2rem;
  ul.nav-fpac {
    width: 34%;
    .nav-item {
      width: 20rem;
    }
  }
}

.projects-data {
  li.list-group-item {
    border: 1px solid #b8b8b8;
    margin: 1rem 0rem 1rem 0rem;

    .project-details {
      margin: 0rem 0rem 1rem -1.5rem;
      span {
        padding-left: 1.75rem;
        margin: 0rem 1.5rem 0rem 1.5rem;
        border-left: 1px solid $light-grey-6;
      }
      span:first-of-type {
        padding-left: 0rem;
        margin: 0rem 1.5rem 0rem 1.5rem;
        border: none;
      }
    }
    p:first-of-type {
      font-size: 18px;
      font-weight: $heavier-weight;
      color: $usda-blue;
    }

    p:nth-of-type(2) {
      font-size: 18px;
    }
  }
}
