@import '../../stylesheets/variables';

.exception-msg-container {
  min-height: 5.3125rem;
  background-color: #e7f6f8;
  display: flex;
  border-left: 8px solid #00bde3;
  justify-content: flex-start;

  #exception-circle {
    font-size: 26px;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.exception-msg1 {
  font-family: Roboto;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.615625rem;
  color: $dark-grey-3;
  margin-bottom: 6px;
}

.exception-msg2 {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.175rem;
  color: $dark-grey-3;
  margin-left: 74px;
}

.exception-messages {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.circle-msg {
  display: flex;
  align-items: center;
}
