@import '../../stylesheets/variables';

#viewDiv {
  height: 68vh;
  width: 97.5%;
  margin: 1rem 0rem 0rem 0rem;
}

#akViewDiv {
  padding: 0;
  margin: 0;
  height: 225px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
}
