@import '../../stylesheets/variables';

.st-parent {
  background: $light-grey-205;
  padding: 5rem $large-space-size;
  break-inside: avoid;
  h2,
  h4 {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: $semi-heavy-weight;
    font-size: $h2-font-size;
    line-height: 37.5px;
  }

  h4 {
    padding-top: 0.625rem;
    font-weight: $medium-weight;
    font-size: $h4-font-size;
    line-height: 22.4px;
  }
}

.state-specific-container {
  background: $white;
  margin-top: 1.875rem;
  padding: 1.875rem;
  border: 1px solid $philippine-silver;
  border-radius: 6px;

  h4 {
    padding: 0;
    font-size: $h3-font-size;
    font-weight: $semi-heavy-weight;
    line-height: 26px;
  }

  .state-prompt-text {
    padding-top: 0.625rem;
    font-size: $h4-font-size;
    font-weight: $medium-weight;
    line-height: 22px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: $h4-font-size;
    line-height: 22.4px;
    color: $dark-blue;
    font-weight: $medium-weight;
  }

  .link {
    margin-top: 0.625rem;
    display: flex;
    align-items: center;

    .practice-standard-button{
      background-color: $usda-blue;
      color: $white;
      width: 27.8125rem;
      height: 2.6875rem;
      border-radius: 0.25rem;
      font-weight: $heavy-weight;
      font-size: $h4-font-size;
      line-height: 19px;
    }

    .hiddent-content {
      display: none;
    }

    a:first-of-type {
      margin-left: auto;
      img {
        margin: 0rem 0rem 0.2rem 0.5rem;
      }
    }
  }

  .practice-standard-steps{
    margin-top: 1.25rem;

    h4 {
      font-size: $h4-font-size;
      font-weight: $medium-weight;
      line-height: 22px;
      margin-bottom: .25rem;
    }

    .guide-icons {
      margin: 1.25rem 0;
      display: block;
    }

    .close-instruction-button {
      display: block;
      width: 176px;
      height: 43px;
      margin-top: 20px;
      border: 1px solid $usda-blue;
      border-radius: 4px;
      padding: 12px 20px;
      font-weight: bold;
      font-size: $h4-font-size;
      line-height: 19px;
      color: $usda-blue;
    }
  }
}

.associated-prac {
  background: $white;
  margin-top: 1.875rem;
  padding: 1.875rem;
  border: 1px solid $philippine-silver;
  border-radius: 6px;

  h4 {
    padding: 0;
    font-size: $h3-font-size;
    font-weight: $semi-heavy-weight;
    line-height: 26px;
    padding: 0 0 1rem 0;
  }

  p {
    font-size: $h4-font-size;
    line-height: 22px;
    font-weight: $medium-light-weight;
  }

  ul {
    margin: 0;
    li {
      padding: 0 0 0 0.5rem;

      a {
        text-decoration: none;
      }
    }
  }
  .practices-row {
    display: flex;
    flex-wrap: wrap;
  }
}

.exception-spacing {
  margin-top: 2.125rem;
}
