
.top-title {
    

    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    margin-left: 20px;

    h2 {
      font-size: 20px;
      font-weight: 900;
      color: #779fbd;
      font-weight: 700;
      padding-right: 1.5rem;
      padding-top: 10px;

      small{
        color: #748c9f;
        font-size: 21px;
        font-weight: 800;
        

      }
      
    }

    img{
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
      

        
    }
  }


  .Alert-container-box{
    width: 100%;
    background-color: #f5f5f5 !important;
    margin-bottom: 2.5rem;
    
    padding:2rem;
  margin-top: 1.7rem;
    
    .alert-arrow-div{
        position: relative;
        top: 115px;
        left: -23px;
        padding-left: 10px;
        background-color: #595959;
        color: #f5f5f5;
        font-size: 50px !important ;
        clip-path: polygon(66% 11%, 100% 43%, 68% 81%, 0 81%, 0 10%);
        width: 70px;
        height: 75px;
        padding:  4px 2px 4px 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .alert-arrow-div-inner{
            
            margin-left: 2.5px;
            width: 94%;
            height: 97%;
            clip-path: polygon(66% 11%, 100% 43%, 68% 81%, 0 81%, 0 10%);
            background-color: #b45f06;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 1000;

        
        h3{
            font-size: 35px !important; 
            font-weight: 900 !important;
            
            margin-left: -2px;
            z-index: 2000;
        }

    }
      

    }
    
}

.fsa-alert{
    border-left: 5px solid #ffbb2f;
    padding: 8px ;
    
    border-radius: 2px;
    font-weight: bold;
    border-left-width: thick;
    margin-bottom: 50px;
    


    &--warning{
        background-color: #FEEFB3;
        border-color: orange;
        padding-left: 1.6rem;
        padding-top: 1.5rem;
        
    }
    &__heading{
        font-size: 25px;
        margin-bottom: 10px;
        font-weight:800;
        text-shadow: 0 0 1px black;
    }
    &__body{
        font-size: 16px;
        margin-bottom: 10px;
        border-left: orange;
        display: flex;

    }
}

.warning-image{
    width: 70px;
}

.green-box{
    width: 30px;
    background: #236430;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
}
.red-box{
    width: 30px;
    background: #CD2026;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;

}
.grey-box{
    width: 30px;
    background: #75716E;
    border-radius:3px; 
    padding: 0px 10px;
    color: white;
}
.boxes-container{
    width:97%; 
    margin:auto; 
    padding-bottom:10px;
}

.boxes-subcontainer{
    display:flex ;
     justify-content:space-between;
}
.linear-scale{
    height:20px;
    background: linear-gradient(to right , #236430 0%,#236430 30%,#75716E 53%, #CD2026 65%,#CD2026 100%);
     width:97%; 
     margin:auto;
}
.end-container{
    margin-top:10px;
}
.end-subcontainer{
    display:flex; 
    justify-content:space-between;
}
.end-subcontainer{
 width: 100%;

   

}
.end-subcontainer .description:last-child{
    
    margin-right: -10px;
}
// 

// 
.end-subcontainer .description:first-child{
    
    margin-left: -10px;
}
.description{
    width:100px ;
    text-align:center;
}
.disclaimer-section{
    margin-left:17px;
}




// 
.parallelogram-container {
    position: relative;
    height: 30px;
  
  
  .parallelogram {
    height: 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
   
    background: rgb(208, 166, 23);
  }
  
  .small-parallelogram {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(1% 1%, 74% 1%, 99% 99%, 26% 99%);
  }
}