@import '../../stylesheets/variables';

.usa-label.keyword-label {
  font-weight: $medium-weight;
}

.search-by-location-section {
  margin: 0rem 0rem 1.75rem -1rem;
  padding: 0rem 0rem 0rem 2.25rem;
  .location-search-header {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    color: $nrcs-dark;
    font-weight: $medium-weight;
    font-size: 17px;
    line-height: 1.3;
  }
  .side-by-side {
    display: flex;
    flex-direction: row;
  }
}

.usa-select {
  &:disabled {
    background-color: $medium-darkgrey;
  }
}
