@import '../../stylesheets/variables';

.projects-initiative-parent {
  background: $light-grey-205;
  padding: 5rem $large-space-size;

  h2,
  h4 {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: $semi-heavy-weight;
    font-size: $h2-font-size;
    line-height: 37.5px;
  }

  h4 {
    padding-top: 0.625rem;
    font-weight: $medium-light-weight;
    font-size: $h4-font-size;
    line-height: 22.4px;
  }

  .projects-initiative-content {
    break-inside: avoid;
    margin-top: 1.875rem;
    border: 1px solid $philippine-silver;
    border-radius: 6px;
    height: 31rem;
    background: $white;
  }
}
