@import '../../stylesheets/variables';

.projects-grid {
  display: grid;

  grid-gap: 1rem;

  grid-template-columns: 20rem 1fr;
  ul.list-group {
    .list-group-item {
      &:hover {
        cursor: pointer;
      }
      &.selected {
        color: $dark-blue;
        border-left: 3px solid $usda-blue;
      }
    }
  }
}

.project-type-section {
  width: 80%;
  a {
    text-decoration: none;
  }
}

/** Media Queries **/
@media only screen and (max-width: $macbook-pro-screen) {
  .project-type-section {
    width: 75%;
  }
}
