@import '../../stylesheets/variables';

.projects-grid {
  display: grid;

  grid-template-columns: 20rem 1fr;
  ul.list-group {
    margin: 0 0 0 0;
    padding-right: 2rem;
    .list-group-item {
      border-top: none;
      border-right: none;
      border-left: none;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        color: $dark-blue;
        border-left: 3px solid $usda-blue;
      }
    }
  }
}

.projects-tab {
  margin: 0rem 2.188rem;
  .project-tab-header {
    margin: 2.5rem 0rem 3.75rem 0rem;
    p {
      font-weight: $medium-light-weight;
    }
    li {
      font-weight: $medium-light-weight;
    }
  }

  .usa-card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .usa-card {
      width: 100%;
      p {
        font-weight: $semi-heavy-weight;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .usa-card__header {
      color: $usda-blue;
      padding: 1.875rem 1.563rem 0.688rem 1.563rem;
    }

    .usa-card__body {
      padding: 0rem 1.563rem 1.875rem 1.563rem;
      .lead {
        font-weight: $medium-light-weight;
      }
    }
    .usa-card__img {
      background-color: $white;
    }
  }

  .usa-card:nth-of-type(1) {
    .usa-card__footer {
      padding: 0rem 1.563rem 1.875rem 1.563rem;
    }
  }
  .usa-card:nth-of-type(2) {
    .usa-card__footer {
      padding: 0rem 1.563rem 1.875rem 1.563rem;
    }
  }

  .projets-map-section {
    hr {
      width: 100%;
      border-top: none;
      margin: 0;
    }
    h3 {
      margin: 1.875rem 0 1.25rem 0;
      font-weight: $semi-heavy-weight;
    }
    margin: 0 0 3.75rem 20rem;
  }

  .projects-list-group {
    margin: 0 0 0 20rem;
  }

  .usa-pagination {
    margin: 0;
    h3 {
      font-weight: $semi-heavy-weight;
    }
  }
}

.project-type-section {
  margin-top: 2.5rem;
  h3 {
    margin: none;
    font-weight: $semi-heavy-weight;
  }
  p {
    font-weight: $medium-light-weight;
    margin: 0.625rem 0 1.875rem 0;
    &:last-of-type {
      margin: 0 0 1.875rem 0;
    }
  }
  width: 100%;
  a {
    text-decoration: none;
  }
}

/** Media Queries **/
@media only screen and (max-width: $macbook-pro-screen) {
  .project-type-section {
    width: 75%;
  }
  .outer-box {
    margin: 0 0 0 0 !important;
    .project-details {
      margin: 0rem 0rem 1rem 0rem !important;
      font-size: 13px !important;
      span {
        padding-left: 0.6rem;
        margin: 0rem 0.6rem 0rem 0.6rem;
        border-left: 1px solid $light-grey-6;
      }
      span:first-of-type {
        padding-left: 0rem;
        margin: 0rem 0.6rem 0rem 0rem;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: $iphonex-screen) {
  .projects-tab {
    .usa-card-group {
      display: block;
    }
  }
}
