@import '../../stylesheets/variables';

.full-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
    width: 60%;

  .box {
    border: 2px solid #b8b8b8;
    border-radius: 0.5em;
    padding: 2em;
    background-color: $lighter-grey;
    margin: 1em;

    h4{
        padding-bottom: 0.3em;
    }

    .usa-button{
        float: right;
        margin: 0em 0.5em 1em 0em;
    }

    p{
        max-width: 80ch;
    }
  }
}