@import '../../stylesheets/variables';

.filter-by-container {
  max-width: 100%;
  position: sticky;
  margin: -2.188rem 2.188rem 0 2.188rem;
  border: 1px solid $light-grey-5;
  border-radius: 0.56rem;
  background-color: $white;
  width: auto;
  display: flex;
  justify-content: space-between;
  .filter-box {
    margin-top: 1rem;
    margin-bottom: 1.438rem;
    margin-left: 1.25rem;
    height: 4rem;
    border-left: 1px solid $light-grey-5;
    .p-label {
      margin-left: 1.25rem;
      margin-right: 2rem;
      margin-bottom: 0.6rem;
    }
    .filter-pill {
      p.filter-label {
        font-weight: bold;
        padding: 0 5px 0 5px;
        text-align: center;
        width: auto;
      }
      margin-left: 1.25rem;
      margin-top: 0.5rem;
      background-color: $usda-light-blue;
      border: 1px solid $usda-light-blue;
      border-radius: 0.56rem;
      height: 2rem;
      padding: 0.25rem;
      width: fit-content;
    }
  }
  .usa-button {
    color: $usda-blue;
    background: $white;
    border: 0.2rem solid $usda-blue;
    border-radius: 0.25rem;
    align-self: flex-end;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 15rem;
    float: right;
    &:hover {
      background: $usda-blue;
      color: $white;
    }
  }

  p.filter-style {
    margin: 0.938rem 0rem 1.838rem 1.25rem;
    font-weight: bold;
  }
}
