@import '../../stylesheets/variables';

.filter-inactive {
  max-width: 80%;
  min-height: 60px;
  margin: 0 auto;
  border: 1px solid $light-grey-5;
  border-radius: 9px;
  p.filter-style {
    margin: 1rem 0rem 1rem 2rem;
  }
  .filter-by-grid {
    display: grid;
    grid-template-columns: 6rem 8rem 8rem 14rem 14rem;
    gap: 1rem;
  }
  .filter-select {
    border: 0rem;
  }
}

.filter-by-container {
  max-width: 80%;
  min-height: 106px;
  margin: 0 auto;
  border: 1px solid $light-grey-5;
  border-radius: 9px;
  p.filter-style {
    margin-left: 2rem;
  }
  .filter-by-border {
    min-width: 80%;
    width: 95%;
    margin: auto;
  }
  p.filter-style {
    margin: 1rem 0rem 1rem 2rem;
  }
  .filter-grid {
    display: grid;
    grid-template-columns: 8rem repeat(auto-fill, 8rem);
    gap: 1rem;
    margin-top: 1rem;
    .filter-box {
      margin-top: 0.5rem;
      display: grid;
      grid-template-columns: 6rem 2rem;
      background-color: $usda-light-blue;
      border: 1px solid $usda-light-blue;
      border-radius: 9px;
      height: 2rem;
      padding: 0.25rem;
    }
  }
  .filter-select {
    border: 0rem;
  }
  .filter-by-grid {
    display: grid;
    grid-template-columns: 6rem 8rem 8rem 14rem 14rem;
    gap: 1rem;
  }
  .clear-style {
    margin-top: 0.75rem;
    color: blue;
    text-decoration-line: underline;
  }
}
