@import '../../stylesheets/variables';

.filter-by-container {
  max-width: 100%;
  position: sticky;
  margin: -2.188rem 2.188rem 0 2.188rem;
  border: 1px solid $light-grey-5;
  border-radius: 0.56rem;
  background-color: $white;
  .filter-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    height: 4rem;
    border-left: 1px solid $light-grey-5;
    .p-label {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  .usa-button {
    color: $usda-blue;
    background: $white;
    border: 0.2rem solid $usda-blue;
    border-radius: 0.25rem;
    align-self: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 15rem;
  }
  p.filter-style {
    margin-left: 2rem;
  }
  p.filter-style {
    margin: 1rem 0rem 1rem 2rem;
    font-weight: bold;
  }
}
