@import '../../stylesheets/variables';

.document-box {
  margin: 1em 1em 1.5em 1em;
  background-color: $sfi-white;

  .list-document {
    text-align: left;
    padding: 0;
    background-color: $sfi-white;
    border-color: black;
    height: 100%;

    .full-component {
      display: flex;

      .overview {
        width: 70%;
        margin-right: 5em;
      }
    }

    h4 {
      font-size: 25px;
      font-weight: $medium-weight;
      font-style: normal;
      padding-bottom: 0.5em;
    }

    p {
      font-weight: $medium-weight;
      margin: 0 0 1em 0;
    }

    img {
      width: 25%;
      height: 15%;
      float: right;
    }
  }
}

.media-box {
  margin: 0 2.188rem 1rem;
  background-color: $lighter-grey;
  

  .content {
    padding: 1.875rem 1.56rem;
    border: 0.06rem solid $light-grey-5;
    border-radius: 0.3rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);

    h2 {
      font-size: 1.37rem;
      font-weight: $semi-heavy-weight;
      margin: 0;
    }

    .full-component{
      display: flex;
      padding-top: 1.875rem;
      
      .video-media {
        margin-right: 3.125rem;

        .video {
          height: 18vw;
          width: 32vw;
        }
      }

      .video-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.56rem;
        height: 18vw;

        .description {
          font-size: 1.063rem;
          font-weight: $light-weight;
          line-height: 1.5rem;
          margin-bottom: 2.5rem;
        }

        .link {
          a {
            color: $link-color;
            text-decoration: none;
            line-height: 1.925rem;
            font-size: 1.375rem;
          }

          img {
            height: 1.925rem;
            line-height: 1.925rem;
          }
        }
      }
    }

  }

  
}
