@import '../../stylesheets/variables';

.document-box {
  margin: 1em 1em 1.5em 1em;
  background-color: $sfi-white;

  .list-document {
    text-align: left;
    padding: 0;
    background-color: $sfi-white;
    height: 100%;

    .full-component {
      display: flex;

      .overview {
        width: 70%;
        margin-right: 5em;
      }
    }

    h4 {
      font-size: 25px;
      font-weight: $medium-weight;
      font-style: normal;
      padding-bottom: 0.5em;
    }

    p {
      font-weight: $medium-weight;
      margin: 0 0 1em 0;
    }

    img {
      width: 25%;
      height: 15%;
      float: right;
    }
  }
}
