#landscapeViewDiv {
  height: 68vh;
  width: 100%;
  margin: 1rem 0rem 2rem 0rem;

  .esri-legend.esri-widget.esri-widget--panel {
    max-height: 12.5rem;
    .esri-legend__service {
      display: flex;
      align-items: center;
    }

    .esri-legend__layer-cell.esri-legend__layer-cell--info {
      &:empty {
        display: none;
      }
    }
  }
  // .esri-layer-list__child-toggle
  //   + .esri-layer-list__item-label:not([role='radio'])
  //   > .esri-layer-list__item-toggle {
  //   display: none;
  // }

  .esri-icon-non-visible::before {
    content: '\e610';
  }
  .esri-icon-visible::before {
    content: '\e611';
  }
  //     .esri-icon-layer-list:before {
  //     display:none;
  // }
}
