@import '../../stylesheets/variables';

.resource-box-wrapper {
  text-align: left;
  flex: 50%;
  border: 1px solid $nrcs-dark;
  border-radius: 0.5em;
  background-color: $sfi-white;
  padding: 1.25rem 2rem 1.875rem 2rem;
  margin-left: 1.875rem;

  .usa-label {
    margin: 0;
    font-weight: 500;
    color: black;
  }

  .usa-select {
    margin: 0 0 1em 0;
  }

  &.practice-selected {
    background: $medium-darkgrey;
  }
}
