@import '../../stylesheets/variables';

/** Home page **/
.home-page {
  h3.landing-page-title {
    margin-left: 0.6em;
    position: absolute;
    font-weight: $medium-weight;
  }

  .jumbotron {
    padding: 2rem 2rem;
    border-radius: 0.3rem;
  }
  .landing-page-image {
    margin-bottom: 0rem;
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url('http://greyworm-epi-dev.spatialfrontlab.com/images/landing-page.png');

    h1 {
      position: absolute;
      top: 0.5em;
      font-weight: 900;
    }
  }
}

/** Media Queries **/
@media only screen and (min-width: $extra-large-screen) {
  .home-page {
    .grid-col-4 {
      .usa-button.usa-button--base {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .home-page {
    .grid-col-4 {
      .usa-button.usa-button--base {
        margin-top: 4rem;
      }
    }
  }
}
