@import '../../stylesheets/variables';

/** Home page **/
.home-page {
  h3.landing-page-title {
    margin-left: 0.6em;
    position: absolute;
    font-weight: $medium-weight;
  }

  .jumbotron {
    border-radius: 0.3rem;
  }

  .landing-page-image-wrapper {
    position: relative;

    .landing-page-image {
      padding-top: 1rem;
      background-color: $white;
      min-height: 360px;
      height: auto;
    }

    h1 {
      padding: 0rem 2rem;
      position: absolute;
      top: 1rem;
      font-weight: 900;
    }
  }
}

/** Media Queries **/
@media only screen and (min-width: $extra-large-screen) {
  .home-page {
    .grid-col-4 {
      .usa-button.usa-button--base {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .home-page {
    .grid-col-4 {
      .usa-button.usa-button--base {
        margin-top: 4rem;
      }
    }
  }
}
