@import '../../stylesheets/variables';

/** Page Title **/
header {
  .usda-header {
    img {
      width: 4.688rem;
      height: 4.688rem;
      vertical-align: baseline;
    }
  }

  h1 {
    color: $nrcs-dark;
    font-size: 1.6em;
  }
}

.government-banner {
  align-self: center;
  display: inline-block;
}

/** NRCS logo **/
.row-flex-start {
  img {
    height: 80px;
    margin-left: 1.6em;
  }
  div {
    margin-left: 1em;
  }
}

/** Nav Bar **/
.navigation-bar {
  justify-content: flex-start;
  padding: 1em;
  background-color: $usda-blue;
  &:first-child {
    border-right: 1px solid $sfi-white;
    color: red;
  }
  .usa-link {
    color: $sfi-white;
  }

  .nrcsLogo {
    height: 1.8em;
    width: 1.8em;
    margin-right: 1em;
  }

  a:first-of-type {
    margin-top: 0.2em;
  }
}

/** USA flag logo **/
.header-container {
  width: 100%;
  margin: 0rem 2rem 0rem 0rem;
  background-color: $sfi-dark-white;
  height: auto;

  img {
    height: 1rem;
    width: 2rem;
    margin-right: 1em;
  }
  a {
    color: $link-color;
  }
}
