@import '../../stylesheets/variables';

/** Page Title **/
header {
  .usda-header {
    img {
      width: 4.688rem;
      height: 4.688rem;
      vertical-align: baseline;
    }
    .header-sizing {
      font-size: calc(1.269rem + 0.228vw);
    }
    .usa-link {
      text-decoration: none;
      &:hover :focus {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.government-banner {
  align-self: center;
  display: inline-block;
}

/** NRCS logo **/
.row-flex-start {
  img {
    height: 80px;
    margin-left: 1.6em;
  }
  div {
    margin-left: 1em;
  }
}

/** Nav Bar **/
.navigation-bar {
  justify-content: flex-start;
  padding: 1em;
  background-color: $usda-blue;
  &:first-child {
    border-right: 1px solid $sfi-white;
  }
  .usa-link {
    color: $sfi-white;
    text-decoration: none;
    margin-top: 0.2em;
  }

  .nrcsLogo {
    height: 1.8em;
    width: 1.8em;
    margin-right: 1em;
  }

  a:first-of-type {
    margin-top: 0.2em;
  }
  .usa-link {
    text-decoration: none;
    &:hover :focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.usa-accordion {
  list-style-type: none;
  color: #1b1b1b;
  background-color: $sfi-dark-white;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
.usa-banner__header {
  font-size: 1rem;
  img {
    height: 1rem;
    width: 2rem;
    margin-right: 1em;
  }
}
.usa-banner__header--expanded {
  .usa-banner__inner {
    margin-left: 1.5rem;
  }
}
.usa-banner__inner {
  margin: 0;
  margin-left: 1.5rem;
  padding: 0;
  max-width: 64rem;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
}
.usa-banner__button {
  font-size: 1rem;
  color: #005ea2;
  display: inline;
  text-align: left;
  cursor: pointer;
}

.usa-banner__button-text {
  margin-left: 0.25rem;
}

.usa-accordion__button {
  margin: 0;
  color: #005ea2;
  display: inline;
  text-align: left;
  cursor: pointer;
}
.usa-banner__content {
  max-width: 64rem;
  overflow: hidden;
  margin: 0;
}
