@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './variables';

* {
  padding: 0px;
  font-family: Roboto;
  box-sizing: border-box;
}

#root {
  margin: auto;
  max-width: 1200px;
  min-width: 1040px;
}

body {
  background: $white;
}
.container {
  border: 1px solid $dark-grey-1;
  box-shadow: 5px 5px 5px 1px $medium-darkgrey;
  border-radius: 5px;
  margin-top: 40px;
  height: 100%;
  overflow: wrap;
}

a.skip-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  opacity: 0;
}

a.skip-main:focus, a.skip-main:active {
  left: 50%;
  transform: translateX(-50%);
  background-color: $usda-blue;
  color: $sfi-white;
  font-weight: 600;
  &:hover {
    background-color: $usda-blue;
  }
  opacity: 1;
}

.hidden-content {
  display: none;
}
