@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './variables';

* {
  padding: 0px;
  font-family: Roboto;
  box-sizing: border-box;
}

#root {
  margin: auto;
  max-width: 1200px;
  min-width: 1040px;
}

body {
  background: $white;
}
.container {
  
  border: 1px solid $dark-grey-1;
  box-shadow: 5px 5px 5px 1px $medium-darkgrey;
  border-radius: 5px;
  margin-top: 40px;
  height: 100%;
  overflow: wrap;
}

.hidden-content {
  display: none;
}
