@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  padding:0px;
  font-family: Roboto;
  box-sizing: border-box;
}
body {
  background: white;

}
.container {
  width: 90%;
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  margin-top: 40px;
  height: 100%;
  overflow: wrap;
}

.home {
  text-align: center;
  margin-top: 10px;
}

.reportLink {
  border: 1px solid black;
  padding: 10px;
}

.mapsLink {
  border: 1px solid black;
  padding: 10px;
}
