@import "./variables";

/** Page Title **/
.home-page {
  header {
    .usda-header {
      img {
        width: 75px;
        height: 75px;
        vertical-align: baseline;
      }
    }

    h1 {
      color: $nrcs-dark;
      font-size: 1.6em;
    }
  }

  .government-banner {
    align-self: center;
    display: inline-block;
  }
}

/** NRCS logo **/
.row-flex-start {
  img {
    height: 80px;
    margin-left: 1.6em;
  }
  div {
    margin-left: 1em;
  }
}
