@import '../../stylesheets/variables';

// For demo
html {
  background-color: $light-grey-205;
}

.result-accordion-container {
  .top-title {
    margin: 3.75rem 2.188rem 1.25rem;

    h2 {
      font-size: 32px;
      font-weight: 900;
    }
  }
}

hr {
  border: none;
  margin-bottom: 0.5rem;
}

.accordion-section {
  position: relative;
  height: fit-content;
  background: $white;
  margin: 0 2.188rem 0 2.188rem;
  border: 1px solid $philippine-silver;
  border-bottom: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0 0 0 1rem;
    display: flex;
    font-size: 17px;
    line-height: 20px;
  }
  h4 {
    margin: 0 0 0 1rem;
    display: flex;
    font-size: 17px;
    line-height: 20px;
  }
  .accordion-container {
    li {
      color: black;
      display: flex;
      width: flex;
      cursor: pointer;
      padding: 1em;
      border-bottom: 1px solid $philippine-silver;

      .fa,
      .fas {
        padding: 0;
        line-height: 20px;
      }

      .accordion-data {
        flex-direction: column;
        align-items: start;
        padding: 0em;

        a {
          text-decoration: none;
        }

        p {
          text-align: left;
          margin: 1.25rem 0 1.25rem 1rem;
          &:last-of-type {
            padding-bottom: 1.875rem;
          }
        }
      }
    }
  }

  .accordion-container-blue {
    li {
      color: black;
      display: flex;
      width: flex;
      cursor: pointer;
      padding: 1em;
      border-bottom: 1px solid $philippine-silver;
      border-left: 5px solid $usda-blue;

      .accordion-data {
        flex-direction: column;
        align-items: start;
        padding: 0em;

        a {
          text-decoration: none;
        }

        p {
          text-align: left;
          margin: 1.25rem 0 1.25rem 1rem;
        }
      }
    }
  }

  .child-accordion-container {
    border-left: 5px solid $usda-blue;

    li {
      color: black;
      display: flex;
      width: flex;
      cursor: pointer;
      padding: 1em 1em 1em 0;
      margin: 0 3rem 0 3rem;
      border-bottom: 1px solid $philippine-silver;

      .fa,
      .fas {
        padding: 0;
        line-height: 20px;
      }

      &:last-of-type {
        border-bottom: none;
        padding: 1em 1em 0 0;
      }

      .single-child-data {
        p {
          padding: 1rem 0rem 0rem 1rem;
          margin-bottom: 0rem;
        }
      }

      .child-data {
        flex-direction: column;
        align-items: start;
        padding: 0em;

        a {
          text-decoration: none;
        }

        p {
          text-align: left;
          margin: 1.25rem 0 1.25rem 1rem;
        }
      }
    }
  }
}
