@import '../../stylesheets/variables';

.Alert-container-box{
    width: 100%;
    background-color: #f5f5f5 !important;
    //background-color: #6913f3;
    margin-bottom: 2.5rem;
    //margin: 24px 24px 24px 24px; 
}

.container{
    width: 96%;
    background-color: #f7f7f7!important;
    margin: 22px; 
    padding-left: 0rem;
    padding-right: 0rem;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgb(174, 173, 173);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 119, 119);
}

.title{
    padding-left: 10px;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 24px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-left: $short-space-size;
    // justify-content: space-between;
    // flex-basis: auto;
    // width: 800px;
    // flex-direction: row;
     padding: 0px 0px 0px 0px;
    // height: 36px;
}

.filter-button-container {
    position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid $dark-blue;
//     border-radius: 4px;
//     background-color: $white;
//     // width: 150px;
//     height: 36px;
//     color: $usda-blue;
//    padding: 16px 0px 24px 5px;
//     font-weight: $heavy-weight;
//     font-size: $h4-font-size;
  }

.filter-button-practice {
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: $white;
    width: 210px;
    height: 36px;
    color: black;
    padding: 0px 0px 0px 5px;
    font-weight: $heavy-weight;
    font-size: $h4-font-size;
    margin-left: 236px;
}

.apply-button {
    cursor: default;
    margin: $short-space-size;
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: transparent;
    height: 36px;
    color: $usda-blue;
    font-weight: $heavy-weight;
    font-size: $h4-font-size;
    padding: 0px 5px 0px 5px;
    margin-left: 12px;
}

.filters-select {
    display: flex;
    align-items: center;
    width: 100px;
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    margin: $short-space-size;
}

.filters-select-input {
    margin-left: $short-space-size;
}

.clear-all-link {
    margin: $short-space-size;
    cursor: pointer;
}

.up-arrow:after {
    display: inline-block;
    content: " ";
    margin-left: 10px;
    margin-bottom: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(0, 0, 0);
}
  
.down-arrow:after {
    display: inline-block;
    content: " ";
    margin-left: 10px;
    margin-bottom: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.filter-lable{
    display: 'inline-block';
    margin-Left: '1px';
    margin-right: '5px';
    font-Size:'2px'
}

.cppe-effect-value{
    width: 30px;
    background: #236430;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
    height:25px;
   text-align: center; 
}

.select-all-check{
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
    margin-top: 0%;
    margin-bottom: 8px;
    align-items: center;
    text-indent: 8px;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 2.5rem;
}

.dropdown-items{
    margin-right: 1rem;
    color:black;
    padding: 0px,12px,0px,0px;
    text-indent: 8px;
    margin-bottom: 8px;
}

.child-container{
    width: 100%;
    background: #ffffff;
}

.conservation-practice-wrapper{
    display: inline-flex;
    height: 620Px;
    //overflow: auto;
   //background-color: #e91f18;
}

.conservation-practices{
    display: inline-block;
    flex-basis: 50%;
   // max-width: 348px;
    overflow: auto;
    //background-color: #f5b9f0;
}

.flexdata{
    display: inline-flex;
    margin-inline: 24px;
    //padding: 16px,24px,0px,248px;
   height: 90px;
   width: auto;
   height: auto;
   padding-top: 16px;
   padding-bottom: 0px;
   //background-color: rgb(227, 255, 127);
}

.practice-name{
    color: #0068AD;
    font-size: 16px;
    font-weight: bolder;
    display: block;
    padding-left: 8px;
    width: 300px;
}

.practice-description{
    display: inline-block;
    margin-inline: 24px;
    //padding: 12px 24px 16px 0px;
    font-size: 14px;
    margin-bottom: 0rem;
    //background-color: #e3dedb;
}

.row-click{
    cursor: pointer;
    margin-bottom: -1rem;
}

.clicked-row{
    cursor: pointer;
    border-left: 4px solid rgb(94, 99, 200);
    background-color: #e3dedb;
    margin-bottom: -1rem;
}

.CPPETEXT{
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.green-box{
    width: 40px;
    background: #236430;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
    height:25px;
    text-align: center;
}

.filter-green-box{
    width: 30px;
    margin-top: 10px;
    background: #236430;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
    height:25px;
    text-align: center;
}

.red-box{
    width: 40px;
    background: #CD2026;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
    height:25px;
    text-align: center;
}

.filter-red-box{
    width: 30x;
    margin-top: 10px;
    background: #CD2026;
    border-radius:3px; 
    padding: 0px 6px;
    color: white;
    height:25px;
    text-align: center;
}

.white-box{
    width: 30px;
    height: 25px;
    background: #FFFFFF;
    border-radius:3px; 
    border: 2px solid;
    border-color: #B2B1B0;
    padding: 0px 10px;
    color: black;
}

.filter-white-box{
    height: 25px;
    width: 26px;
    margin-top: 10px;
    background: #75716E;
    border-radius:3px; 
    padding: 0px 10px;
    color: white;
}

.row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox{
    width: 30px;
    margin-left: 118px;
    margin-top: 0px;
    height: 25px;
}

.checkbox:focus{
    width: 30px;
    margin-left: 118px;
    margin-top: 0px;
    height: 25px;
    outline: none !important;
}

.selectAll{
    width: 30px;
    height: 20px;
}

.selectAll:focus{
    width: 30px;
    height: 20px;
    outline: none !important;
}

click-check{
    border: 4px solid rgb(94, 99, 200);
    margin-bottom: 0.1rem;
    height: 22%;
}

.details{
    flex-basis: 50%;
    padding-left: 10px;
    overflow: auto;
} 

.right-pane-container {
    margin: 36px 24px 36px 24px;

    .right-pane-header{
        color: #0068AD;
        font-size: 28px;
        font-family: Roboto;
        font-weight: $heavy-weight;
        font-style: bold;
        margin: 0px 0px 12px 0px;
        cursor:pointer;
    }


    h3 {
        font-size: 22px;
        font-weight: $semi-heavy-weight;
        font-style: bold;
        margin: 4px 0px 4px 0px; 
    }

    h4 {
        font-size: 14px;
        font-family: Roboto;
        font-weight: $heavy-weight;
        font-style: bold;
        margin: 4px 0px 0px 0px; 
    }

    .cpp-score{
        display: flex;
        height: 200px;
        height: auto;
        margin: 12px 0px 12px 0px;
    }

    a{ color: #2a83f7;
        text-decoration: underline;
        font-size: 14px;
        font-family: Roboto;
    }

    a:hover {
        color:rgb(62, 74, 241)
    }

    img {
        width: 25px;
        height: 25px;
        padding: 0px 10px 0px 0px;
        flex-direction: row;
    }

    p {
        font-weight: $light-weight;
        
    }
    p:last-child {
        margin: 0;
    }   
}

.rationale-component
    {  margin: 24px 0px 24px 0px;
        overview {
            width: auto;
            min-width: 40%;
        }

        p {margin: 0px 0px 24px 0px;
            text-align: justify;
        }
    } 

    .practice-info-component {

    //margin: 24px 0px 24px 0px;
        overview {
            width: auto;
            min-width: 40%;
        }

    .left, .right {
        display: inline-block;
        box-sizing: border-box;
        
        height: 100%;
    }

    .left {
      // background-color: blue;
        flex-direction: row;
        p {
            margin: 0px 0px 24px 0px;  
            text-align: start;
            justify-content: space-around;
        }  
        width: 55%;
    }

    .right {
        position:flex;
        vertical-align: top;
        img {
            width: 240px;
            height: 160px;
            //padding: 10px,0px,0px,10px;
            margin: 40px 0px 0px 10px;
        }  
        width: 45%;
    }
}

.caution-container{
    margin: 36px 0px 36px 0px;
    padding: 24px; 
    font-family: Roboto; 
    font-size: 14px;
    align-content: f;
    line-height: 2.34375rem;
    background: #F0F0F0;

    .row-container{
        display: flex;
        align-items: left;
    }

    h2 { color:black;
        font-size: 18px;
        font-weight: $heavy-weight;
        font-style: bold;
        padding: 0px,12px,12px,0px;
        } 

    img{
        display: left;
        width: 38px;
        height:38px;
        padding: 0px -5px 0px 0px;
        flex-direction: row;
    }
}
      
.export-container{
    background-color: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.filter-dropdown{
    // position: relative;
    height: 36px;
    // width: 150px;
    margin-left: $short-space-size;
    // flex-basis: 0;
    // justify-content: space-between;
    // margin-top: 5px;
    // margin-left: 10px;
    // margin-bottom: 10px;
    // overflow: auto;
}

.sort-by-select {
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: $white;
    width: 210px;
    height: 36px;
    color: black;
    padding: 0px 0px 0px 5px;
    font-weight: $heavy-weight;
    font-size: $h4-font-size;
    margin-left: $short-space-size;
}

.filter-selected-box{
    width: 80px;
    height: 36px;
    background: #dbeefd;
    border-radius:3px; 
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 1px 1px 5px;
    color: rgb(19, 18, 18);
}

.flexbox-select {
    display: flex;
    align-items: right;
    width: 450px;
    padding: 0px 0px 0px 0px;
    flex-direction: row;
}

  //cppe dropdown
.flexbox-vertical {
    cursor: default;
    position: absolute;
    place-content: end left;
    height: 240px;
    width: 355px;
    background: #ffffff;
    flex-direction: column;
    padding: 1px 1px 1px 5px;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 100%;
    z-index: 1;
}
  
  .filter-button {
    cursor: default !important;
    position: absolute;
    // margin: $short-space-size;
    width: 280%;
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: transparent;
    height: 36px;
    color: $usda-blue;
    font-weight: $heavy-weight;
    font-size: $h4-font-size;
    // padding: 0px 5px 0px 5px;

    &:focus {
        outline: 0.25rem solid #2491ff !important;
        outline-offset: 0;
    }
  }

  .filter-button-label {
    cursor: default;
    // position: absolute;
    width: 280%;
    cursor: default;
    // margin: $short-space-size;
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: $white;
    height: 36px;
    color: black;
    font-weight: $heavy-weight;
    font-size: $h4-font-size;
    padding: 0px 0px 0px 5px;
  }
