@import '../../stylesheets/variables';
.categoryListContainer {
  background-color: $white;
}

.headerText {
  font-weight: $medium-weight;
  font-size: 2rem;
  color: $nrcs-dark;
}

.introText {
  font-weight: $medium-light-weight;
  font-size: 1rem;
  color: $nrcs-dark;
  margin-bottom: 1.875rem;
}

.categoryCard {
  margin-bottom: 1.875rem;
  margin-right: 1.25rem;
}

.card-container {
  display: flex;
  max-width: 65rem;
  flex-wrap: wrap;
}
