@import '../../stylesheets/variables';

.custom-search {
  margin: 0rem 0rem 0rem 1rem;
  .custom-search-header {
    h1 {
      margin: 2.5rem 0rem 2.5rem 1.25rem;
      font-size: 42px;
      font-weight: $heavy-weight;
    }
    p {
      font-size: 17px;
      font-weight: $medium-weight;
      margin: 2rem 0rem 0rem -1rem;
      // background-color: #fff;
      padding: 2rem 0rem 2rem 2.25rem;
      border-top: solid $dark-grey 1px;
    }
  }

  .practice-description {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif;
    color: $nrcs-dark;
    font-weight: $medium-weight;
    background-color: $light-grey-2;
    font-size: 17px;
    line-height: 1.3;
    margin: 0rem 0rem -1rem -1rem;
    padding: 1rem 0rem 0rem 2.25rem;
  }
  .practice-labels {
    display: flex;
    align-items: baseline;
    background-color: $light-grey-2;
    .clear-button {
      color: $dark-grey;
      &.selected {
        color: $link-color;
      }
    }
  }
  .bottom-container {
    margin: 0rem 0rem 1.75rem -1rem;
    padding: 0rem 0rem 1rem 2.25rem;
    background-color: $light-grey-2;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: $small-screen) {
    .bottom-container {
      margin: 0rem 2rem 1.75rem -1rem;
      padding: 0rem 0rem 0rem 2.25rem;
      display: block;
    }
  }

  .search-button-row {
    margin-left: -1rem;
    background: $light-grey-205;
    .mobile-btn-width {
      width: 88%;
    }
  }
}
