@import '../../stylesheets/variables';

.custom-search {
  margin: 0rem 0rem 0rem 1rem;
  .custom-search-header {
    h1 {
      margin: 2.5rem 0rem 2.5rem 1.25rem;
      font-size: 42px;
      font-weight: $heavy-weight;
    }
    p {
      font-size: 17px;
      font-weight: $medium-weight;
      margin: 2rem 0rem 0rem -1rem;
      background-color: $sfi-white;
      padding: 2.5rem 0rem 2.5rem 2.25rem;
      border-top: solid $dark-grey 1px;
    }
  }

  .practice-description {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif;
    color: $nrcs-dark;
    font-weight: $medium-weight;
    font-size: 17px;
    line-height: 1.3;
    margin: 1.25rem 0rem 0rem -1rem;
    padding: 0rem 0rem 0rem 2.25rem;
  }
  .bottom-container {
    margin: 0rem 0rem 1.75rem -1rem;
    padding: 0rem 0rem 0rem 2.25rem;
    display: flex;
    justify-content: space-between;
  }
}
