@import '../../stylesheets/variables';

.builder-container {
  width: 43%;
  display: inline-block;
  .checkbox-container {
    border-bottom: 1px solid $philippine-silver;
    padding-bottom: $medium-space-size;
  }

  .usa-checkbox {
    padding-bottom: $short-space-size;
  }

  .pdf-button {
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: $white;
    width: 140px;
    height: 43px;
    color: $usda-blue;
    margin-top: $large-space-size;

    font-weight: $heavy-weight;
    font-size: $h4-font-size;
  }
}

.swapa-checkbox-list {
  margin-left: 2.1875rem;

  .usa-checkbox {
    padding-bottom: $short-space-size;
  }
  .usa-checkbox__label {
    color: $nrcs-dark;
    font-family: Roboto;
    font-size: 1rem;
  }
}

.projects-initiatives-list {
  margin-left: 2.1875rem;

  .usa-checkbox__label {
    color: $nrcs-dark;
    font-family: Roboto;
    font-size: 1rem;
  }
}

.builder-title {
  font-weight: $medium-light-weight;
  font-size: 1rem;
  color: $black;
  font-family: Source Sans Pro Web;
}
