@import '../../stylesheets/variables';
.links {
  color: $sfi-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.nav-link {
  &.disabled {
    background-color: $light-grey-3 !important;
  }
}
