@import '../../stylesheets/variables';

.box-style {
  background-color: $sfi-white;
  padding: 2rem;
}

.location-search-container {
  position: relative;

  .divider {
    position: absolute;
    background-color: $dark-grey;
    height: 1;
    top: 96.5%;
    margin-left: 4.5%;
    width: 56%;
  }
}

/** Location search grid **/
.location-search-section {
  border: 2px solid $light-grey-5;
  border-radius: 0.5em;
  padding: 2em;
  background-color: $lighter-grey;
  margin: 1rem 2.75rem;
  .location-search-grid {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2em;
  }
  .p-style {
    font-size: 14px;
    margin: 0px;
  }
  .usa-button {
    margin-top: 0.45rem;
    width: 65%;
  }
  .usa-select {
    &:disabled {
      background-color: $medium-darkgrey;
    }
  }
}
