@import '../../stylesheets/variables';

.box-style {
  background-color: $sfi-white;
  padding: 2rem;
}

/** Location search grid **/
.location-search-section {
  width: 56.5%;
  border: 2px solid $light-grey-5;
  border-radius: 0.5em;
  padding: 2em;
  background-color: $lighter-grey;
  margin: 1rem 2.75rem;
  .location-search-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2em;
  }
  .location-label-grid {
    display: grid;
    grid-template-columns: 22rem 20rem;
  }
  .p-style {
    font-size: 14px;
    margin: 0px;
  }
  .usa-button {
    margin-top: 0.45rem;
    width: 65%;
  }
  .usa-select {
    &:disabled {
      background-color: $medium-darkgrey;
    }
  }
}
