@import '../../stylesheets/variables';

/** Location search grid **/
.location-search-container {
  min-width: 100vw;
  padding: 4.25rem 2rem 4.25rem 2.188rem;
  background: $white;

  .content-row {
    h2.h2-style {
      font-weight: 900;
    }
    p.p-style {
      margin-bottom: 0.25rem;
      font-weight: 700;
    }
  }

  .state-county-grid {
    display: grid;
    grid-template-columns: 30rem 11rem;
    grid-gap: 2.25rem;
    .usa-button {
      margin-top: -0.1rem;
      height: 2.8rem;
    }
    select {
      margin: 0rem 0rem 2rem 0rem;
      align-self: center;
    }
  }
  .location-label-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    label {
      font-size: 1.063rem;
      font-weight: $medium-weight;
      color: $nrcs-dark;
    }
  }
  .p-style:first-of-type {
    margin-top: 0.813rem;
  }
  .usa-select {
    &:disabled {
      background-color: $medium-darkgrey;
    }
  }
}

@media only screen and (max-width: $extra-extra-large-screen) {
  .location-search-container {
    div:first-of-type {
      margin-top: 2rem;
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .location-search-container {
    div:first-of-type {
      display: contents;
      img {
        margin-bottom: 2rem;
      }
    }
    .usa-button {
      width: 60%;
    }
    .state-county-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
