@import '../../stylesheets/variables';

.results-page {
  h1:first-of-type {
    margin: 2.5rem 0rem 0.625rem 1.25rem;
    font-size: 2.625rem;
    font-weight: $heavy-weight;
  }
  .list-group:first-of-type {
    margin: 0rem 1.5rem;
    display: flex;
    .list-group-item {
      height: 4rem;
    }
  }

  .practice-accordion {
    h3 {
      margin: 2rem 1.5rem;
    }
  }
}
