@import '../../stylesheets/variables';

.card {
  min-height: 10.625rem;
  background: $sfi-white;
  box-sizing: border-box;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  flex: 0 0 48%;
  margin-bottom: 1.875rem;
  margin-left: 1.25rem;
  @media (max-width: $medium-screen) {
    flex: 0 0 90%;
  }
}

.related-initiatives-name {
  h4 {
    font-weight: 800;
    color: $nrcs-dark;
    line-height: 1.61125rem;
    margin-top: 0.625rem;
    margin-bottom: 0;
  }
}

.related-initiatives-desc {
  font-weight: $medium-light-weight;
  color: $nrcs-dark;
  line-height: 1.625rem;
  margin-top: 1.25rem;
}

.top-container {
  display: flex;
  align-items: center;
  margin-top: 1.1875rem;
}
