@import '../../stylesheets/variables';
.overlay {
  z-index: 1000;
}

.title-section {
  padding: 2.75rem 2.188rem 0;
  .top-title .project-title{
      font-weight: $heavier-weight;
      font-size: $h2-font-size;
  }
}
